/* styles.css */
/* Стилі для навігації */
#navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

ul.menu {
    list-style-type: none;
}

ul.menu.large {
    display: flex;
}

ul.menu.large li {
    margin-right: 20px;
}

/* Стилі для гамбургера */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

/* Стилі для каруселі */
#carousel {
    /* Стилі для каруселі */
}

/* Стилі для Large та Medium */
.large {
    display: none;
}

.medium {
    display: none;
}

@media (max-width: 768px) {
    ul.menu.large {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .medium {
        display: block;
    }
}

@media (min-width: 768px) {
    .large {
        display: block;
    }
}
