body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #E6E6FA;
}
#content {
    margin-top: 50px;
}
#record, #clickTime {
    text-align: left;
}
select {
    padding: 8px;
    font-size: 16px;
}
#button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#button:hover {
    background-color: #45a049;
}

#square {
    align-content: center;
    width: 100px;
    height: 100px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#gameOver {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}